/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 2:44:31 PM
    Author     : VictorOka
*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
html{
    background-image: url("../imgs/backgroundBlue.jpg");
    background-repeat: repeat;
    margin: 5px;
    font-family: arial;
    width:100%; 
    height:100%; 
}
body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

nav {
    margin-top: 15px;
    padding: 30px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

}
nav form{
    margin: -5px 0px 24px 0px;
    z-index: 99;
    float: right;
    clear: both;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
nav form input:focus{
    outline: none;
}
nav form input{
    border-radius: 8px;
    padding: 10px;
    margin-right: 5px;
    border: none;

}
nav form input[type="submit"]{
    background-color: darkcyan;
    color: white;
}
nav form input[type="submit"]:hover {
    background-color: darkslategray;
}
.cadastrar{
    float: right;
    clear: both;
    margin-top: -20px;
    margin-right: 80px;
    text-decoration: none;
}
fieldset{
    margin-left: 40%;
    margin-right: 35%;
}

.formCadastro{
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
}
.formCadastro input{
    border-radius: 8px;
    padding: 10px;
    margin-left: -25px;
}
#nav-3 {
    background: #EEA200;
}
.link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}
.link-3:hover {
    background-color: #ffffff;
    color: #EEA200;
    padding: 15px 10px;
}
.container{
    margin-bottom: 150px;
    width: 100%;
    display:table;
    background-color: gray;
}
.botao {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
    padding: 25px;
    float: left;
    clear: both;
    margin-left: 1%;
    margin-right: 70%;
    margin-bottom: 1%;
    align-items: center;
}
.botao:hover{
    background-color: darkslategray;
}
.botaoListar {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: darkcyan;
    color: black;
    border-radius: 8px;
    padding: 10px;
    float: left;
    clear: both;
    margin-left: 1%;
    margin-right: 70%;
    margin-bottom: 1%;
    align-items: center;
}
.botaoListar:hover{
    color: white;
    background-color: darkslategray;
}
header{
    width: 98%;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: lightcyan;
}
.anotacao {
    color: red;
    font-size: 9pt;
    clear: both;
    float: right;
}
.celula {
    border: 1px solid black; 
    text-align: center;
}
.tabela {
    border: 1px solid black; 
    background-color: cadetblue; 
    color: black;
}
#containerdiv{
    width: 100%;
    margin: 0 auto;
}
.box{
    width: 49%;
    height: 500px;
}
.right{
    float: right;
    background-color: graytext;
}
.left{
    float: left;
    background-color: greenyellow;
    opacity: 2%;
}
.foto{
    width: 130px;
    height: 130px;
    margin-left: 37%;
}
.textofig{
    margin-left: 40%;
}
.pabout{
    padding: 5px 70px 5px 70px;
}